# Path to the Zotero binary (beta version)
ZOTERO_PLUGIN_ZOTERO_BIN_PATH=/path/to/zotero

# Zotero profile path for development
ZOTERO_PLUGIN_PROFILE_PATH=

# Zotero data directory for development
ZOTERO_PLUGIN_DATA_DIR=
